---
interface Props {
	title: string;
	authors: string;
	journal: string;
	url: string;
	year: string;
	link: string;
}

const { title, authors, journal, url, year, link } = Astro.props;
---

<li>
	<strong><span set:html={title}></span></strong>,
	{authors},
	{url ? (
		<a href={url} target="_blank" rel="noopener noreferrer">
			{journal} ({year}).
		</a>
	) : (
		<>{journal} ({year}).</>
	)}	
	{link && <a href={link} target="_blank" rel="noopener noreferrer">PDF</a>}
</li>
